/* fab */
.amb-fab {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: var(--secondary);
    color: var(--on-secondary);
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
}
/* small fab */
.amb-fab.sm {
    font-size: 0.75rem;
    padding: 8px 12px;
}
.amb-fab.sm .material-icons {
    font-size: 18px;
}
/* fab position */
.amb-fab.fab1 {
    bottom: 60px;
}
.amb-fab.fab2 {
    bottom: 105px;
}
.amb-fab.fab3 {
    bottom: 150px;
}
.amb-fab.fab4 {
    bottom: 195px;
}
.amb-fab.fab5 {
    bottom: 240px;
}
.amb-fab.fab6 {
    bottom: 285px;
}