/* app drawer */
.amb-app-drawer{
    position: absolute;
    top: 56px;
    left: 0;
    width: 256px;
    height: calc(100vh - 56px);
    overflow: hidden;
    overflow-y: auto;
    background: white;
}
.amb-app-drawer-list{
    list-style: none;
    padding: 0;
}
.amb-nav-link{
    display: block;
    text-decoration: none;
    color: black;
    padding: 16px;
    padding-left: 72px;
    font-size: 16px;
}
.amb-nav-link::before{
    content: attr(icon);
    font-family: "Material Icons";
    font-size: 24px;
    position: absolute;
    margin-left: -56px;
    margin-top: -3px;
}