/* var */
:root {
  --primary: blue;
  --on-primary: white;
  --secondary: cyan;
  --on-secondary: black;
  --success: green;
  --on-success: white;
  --danger: red;
  --on-danger: white;
  --warning: yellow;
  --on-warning: black;
  --info: rgb(85, 195, 231);
  --on-info: white;
  --surface: white;
  --on-surface: black;
  --background: #eeeeee;
  --on-background: black;
}
