/* var */
:root {
  --primary: blue;
  --on-primary: white;
  --secondary: cyan;
  --on-secondary: black;
  --success: green;
  --on-success: white;
  --danger: red;
  --on-danger: white;
  --warning: yellow;
  --on-warning: black;
  --info: rgb(85, 195, 231);
  --on-info: white;
  --surface: white;
  --on-surface: black;
  --background: #eeeeee;
  --on-background: black;
}
/* body */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--on-background);
  margin: 0;
}
p {
  margin: 0;
}
/* appbar */
.header {
  position: sticky;
  min-height: 56px;
  top: 0;
}
.amb-appbar {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: 56px;
  background-color: var(--primary);
  color: var(--on-primary);
  display: flex;
  align-items: center;
  padding: 0 10px;
}
/* fab */
.amb-fab {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: var(--secondary);
  color: var(--on-secondary);
  padding: 10px 15px;
  border-radius: 30px;
  text-decoration: none;
}
/* small fab */
.amb-fab.sm {
  font-size: 0.75rem;
  padding: 8px 12px;
}
.amb-fab.sm .material-icons {
  font-size: 18px;
}
/* fab position */
.amb-fab.fab1 {
  bottom: 60px;
}
.amb-fab.fab2 {
  bottom: 105px;
}
.amb-fab.fab3 {
  bottom: 150px;
}
.amb-fab.fab4 {
  bottom: 195px;
}
.amb-fab.fab5 {
  bottom: 240px;
}
.amb-fab.fab6 {
  bottom: 285px;
}
/* button */
.amb-btn {
  background-color: gray;
  border: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
}
/* button size */
.amb-btn.exsm {
  font-size: 12px;
  padding: 3px 6px;
}
.amb-btn.sm {
  font-size: 14px;
  padding: 5px 8px;
}
.amb-btn.lg {
  font-size: 20px;
  padding: 12px 18px;
}
.amb-btn.exlg {
  font-size: 24px;
  padding: 15px 22px;
}
/* button color */
.amb-btn.primary {
  background-color: var(--primary);
  color: var(--on-primary);
}
.amb-btn.secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
.amb-btn.success {
  background-color: var(--success);
  color: var(--on-success);
}
.amb-btn.danger {
  background-color: var(--danger);
  color: var(--on-danger);
}
.amb-btn.warning {
  background-color: var(--warning);
  color: var(--on-warning);
}
.amb-btn.info {
  background-color: var(--info);
  color: var(--on-info);
}
/* avatar */
.amb-avatar {
  border-radius: 50%;
}
/* avatar size */
.amb-avatar.sm {
  width: 40px;
  height: 40px;
}
.amb-avatar.md {
  width: 52px;
  height: 52px;
}
.amb-avatar.lg {
  width: 70px;
  height: 70px;
}
.amb-avatar.profile {
  width: 160px;
  height: 160px;
}
/* card */
.amb-card {
  border-radius: 4px;
  background-color: var(--surface);
  color: var(--on-surface);
  padding: 10px;
  margin: 5px;
}
.amb-card-header {
  display: flex;
  align-items: center;
}
.amb-ts-wraper {
  flex: 1;
}
.amb-leading {
  margin-right: 10px;
}
.amb-trailing {
  /* margin: 10px; */
}
.amb-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.amb-subtitle {
  font-weight: 400;
  margin-top: -5px;
  font-size: 0.9rem;
}
.amb-card-body {
  margin: 10px 0;
}
.amb-card-containt {
  margin: 10px 0;
}
.amb-card-image {
  max-width: calc(100% + 20px);
  height: auto;
  margin: 0 -10px;
}
.amb-card-footer {
  /* margin-top: 10px; */
}
/* list item */
.amb-list-item {
  display: flex;
  align-items: center;
  background-color: var(--surface);
  color: var(--on-surface);
  margin: 5px;
  padding: 10px;
}

/* float */
.amb-float-right {
  display: flex;
  justify-content: flex-end;
}
/* radius */
.rd-1 {
  border-radius: 2px;
}
.rd-2 {
  border-radius: 5px;
}
.rd-3 {
  border-radius: 8px;
}
.rd-4 {
  border-radius: 14px;
}
.rd-5 {
  border-radius: 24px;
}
.rd-6 {
  border-radius: 34px;
}
.rd-circle {
  border-radius: 50%;
}
/* fab icon position */
.l-icon {
  padding-left: 8px;
}
.l-icon .material-icons {
  margin-right: 10px;
}
.r-icon {
  padding-right: 8px;
}
.r-icon .material-icons {
  margin-left: 10px;
}
.amb-fab.o-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
