/* required import */
@import "amb-var.css";
@import "amb-core.css";
@import "amb-appbar.css";
@import "amb-app-drawer.css";
@import "amb-main.css";
@import "amb-typography.css";

/* optional */
@import "amb-fab.css";
@import "amb-btn.css";
@import "amb-avatar.css";

/* card */
.amb-card {
  border-radius: 4px;
  background-color: var(--surface);
  color: var(--on-surface);
  padding: 10px;
  margin: 5px;
}
.amb-card-header {
  display: flex;
  align-items: center;
}
.amb-ts-wraper {
  flex: 1;
}
.amb-leading {
  margin-right: 32px;
  height: 24px;
}
.amb-trailing{
  height: 24px;
}
.amb-trailing i{
  margin-left: 24px;
}
.amb-title {
  font-weight: 600;
  /* margin-bottom: 10px; */
  font-size: 1.1rem;
}
.amb-subtitle {
  font-weight: 400;
  margin-top: -5px;
  font-size: 0.9rem;
}
.amb-card-body {
  margin: 10px 0;
}
.amb-card-containt {
  margin: 10px 0;
}
.amb-card-image {
  max-width: calc(100% + 20px);
  height: auto;
  margin: 0 -10px;
}
.amb-card-footer {
  /* margin-top: 10px; */
}
/* list item */
.amb-list-item {
  display: flex;
  align-items: center;
  background-color: var(--surface);
  color: var(--on-surface);
  margin: 5px;
  padding: 10px;
}

/* float */
.amb-float-right {
  display: flex;
  justify-content: flex-end;
}
/* radius */
.rd-1 {
  border-radius: 2px;
}
.rd-2 {
  border-radius: 5px;
}
.rd-3 {
  border-radius: 8px;
}
.rd-4 {
  border-radius: 14px;
}
.rd-5 {
  border-radius: 24px;
}
.rd-6 {
  border-radius: 34px;
}
.rd-circle {
  border-radius: 50%;
}
/* fab icon position */
.l-icon {
  padding-left: 8px;
}
.l-icon .material-icons {
  margin-right: 10px;
}
.r-icon {
  padding-right: 8px;
}
.r-icon .material-icons {
  margin-left: 10px;
}
.amb-fab.o-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}