/* main */
.main {
  max-width: 1200px;
  margin: 8px auto;
  padding: 8px;
}
.menu-active {
  .main {
    margin-left: 264px;
  }
}

@media (min-width: $bp-sm-laptop) {
  .main {
    margin-left: 264px;
  }
  .menu-active {
    .main {
      margin-left: auto;
    }
  }
}
@media (max-width: $bp-tablet) {
  .main {
    margin-left: 0;
  }
  .menu-active {
    .main {
      margin-left: auto;
    }
  }
}
