/* radius */
.rd-1 {
  border-radius: 2px;
}
.rd-2 {
  border-radius: 5px;
}
.rd-3 {
  border-radius: 8px;
}
.rd-4 {
  border-radius: 14px;
}
.rd-5 {
  border-radius: 24px;
}
.rd-6 {
  border-radius: 34px;
}
.rd-circle {
  border-radius: 50%;
}
