$primary: #6200ee;
$secondary: #03dac5;
$success: green;
$danger: #b00020;
$warning: orange;
$info: rgb(85, 195, 231);
$surface: white;
$background: #eeeeee;
$white: white;
$black: black;

$bp-laptop: 1200px;
$bp-sm-laptop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 375px;
$bp-sm-mobile: 374px;

@function on($color) {
  @if (lightness($color) > 60) {
    @return #000;
  }
  @return #fff;
}

@mixin set-bc($color) {
  background-color: $color;
  color: on($color);
}
@mixin set-oc($color) {
  border-color: $color;
  color: $color;
}
@mixin box($height, $width: $height) {
  height: $height;
  width: $width;
}
