@import "utility";

/* body */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  @include set-bc($background);
}
@import "body";

@import "components/appbar";
@import "components/app-drawer";
@import "components/card";
@import "components/list";
@import "components/buttons";
@import "components/avatar";
@import "components/fab";
@import "components/material-icons";
@import "components/tab";
@import "components/modal";
@import "components/form";

@import "properties/typography";
@import "properties/radius";
@import "properties/color";
@import "properties/grid";
@import "properties/flex";
@import "properties/align";
