.grid {
  display: grid;
  grid-gap: 8px;

  @for $i from 2 through 8 {
    &.grid-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }
  @media (max-width: $bp-sm-mobile) {
    @for $i from 2 through 4 {
      &.grid-sm-mobile-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
  @media (min-width: $bp-mobile) {
    @for $i from 2 through 6 {
      &.grid-mobile-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
  @media (min-width: $bp-tablet) {
    @for $i from 2 through 8 {
      &.grid-tablet-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
  @media (min-width: $bp-sm-laptop) {
    @for $i from 2 through 10 {
      &.grid-sm-laptop-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
  @media (min-width: $bp-laptop) {
    @for $i from 2 through 12 {
      &.grid-laptop-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
}
