.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  margin: 8px;

  &.grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &.grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &.grid-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  &.grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  &.grid-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  &.grid-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  &.grid-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  &.grid-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-item {
    &.grid-w-2 {
      width: 40%;
    }
    &.grid-w-3 {
      width: 70%;
    }
    &.grid-w-4 {
      width: 80%;
    }
  }
}
