.grid {
  display: grid;
  grid-gap: 8px;
  margin: 8px;

  &.grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &.grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &.grid-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  &.grid-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  &.grid-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  &.grid-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  @media (max-width: $bp-sm-mobile) {
    &.grid-sm-mobile-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.grid-sm-mobile-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.grid-sm-mobile-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: $bp-mobile) {
    &.grid-mobile-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.grid-mobile-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.grid-mobile-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &.grid-mobile-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    &.grid-mobile-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  @media (min-width: $bp-tablet) {
    &.grid-tablet-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.grid-tablet-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.grid-tablet-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &.grid-tablet-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    &.grid-tablet-6 {
      grid-template-columns: repeat(6, 1fr);
    }
    &.grid-tablet-7 {
      grid-template-columns: repeat(7, 1fr);
    }
    &.grid-tablet-8 {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  @media (min-width: $bp-sm-laptop) {
    &.grid-sm-laptop-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.grid-sm-laptop-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.grid-sm-laptop-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &.grid-sm-laptop-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    &.grid-sm-laptop-6 {
      grid-template-columns: repeat(6, 1fr);
    }
    &.grid-sm-laptop-7 {
      grid-template-columns: repeat(7, 1fr);
    }
    &.grid-sm-laptop-8 {
      grid-template-columns: repeat(8, 1fr);
    }
    &.grid-sm-laptop-9 {
      grid-template-columns: repeat(9, 1fr);
    }
    &.grid-sm-laptop-10 {
      grid-template-columns: repeat(10, 1fr);
    }
  }
  @media (min-width: $bp-laptop) {
    &.grid-laptop-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.grid-laptop-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &.grid-laptop-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &.grid-laptop-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    &.grid-laptop-6 {
      grid-template-columns: repeat(6, 1fr);
    }
    &.grid-laptop-7 {
      grid-template-columns: repeat(7, 1fr);
    }
    &.grid-laptop-8 {
      grid-template-columns: repeat(8, 1fr);
    }
    &.grid-laptop-9 {
      grid-template-columns: repeat(9, 1fr);
    }
    &.grid-laptop-10 {
      grid-template-columns: repeat(10, 1fr);
    }
    &.grid-laptop-11 {
      grid-template-columns: repeat(11, 1fr);
    }
    &.grid-laptop-12 {
      grid-template-columns: repeat(12, 1fr);
    }
  }
}
