<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amboo</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="../css/amboo.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="header">
      <div class="appbar">
        <div class="leading">
          <i class="material-icons">menu</i>
        </div>
        <div class="ts-wraper">
          <p class="h6">Amboo</p>
          <!-- <p class="subtitle">Appbar Subtitle</p> -->
        </div>
        <div class="trailing">
          <i class="material-icons">share</i>
          <i class="material-icons">search</i>
          <i class="material-icons">more_vert</i>
        </div>
      </div>
    </header>
  </body>
</html>
