<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amboo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Sharp|Material+Icons+Round|Material+Icons+Two+Tone"> -->
    <link rel="stylesheet" href="../icons/material-icons.css">
    <link rel="stylesheet" href="../css/amboo.css">
</head>

<body>
    <nav class="amb-app-drawer">
        <div class="amb-app-drawer-head">

        </div>
        <ul>
            <li><a href="#" icon="home" class="amb-nav-link">Home</a></li>
            <li><a href="#" icon="integration_instructions" class="amb-nav-link">Installation</a></li>
            <li>
                <a href="#" icon="apps" class="amb-nav-link">Components</a>
                <ul>
                    <li><a href="../components/appbar.html">AppBar</a></li>
                    <li><a href="../components/appdrawer.html">App Drawer</a></li>
                    <li><a href="../components/buttons.html">Buttons</a></li>
                    <li><a href="../components/avatars.html">Avatars</a></li>
                    <li><a href="../components/cards.html">Cards</a></li>
                    <li><a href="../components/list.html">List</a></li>
                    <li><a href="../components/fab.html">FAB</a></li>
                </ul>
            </li>
            <li>
                <a href="#" icon="insights" class="amb-nav-link">Properties</a>
                <ul>
                    <li><a href="./properties/radius.html">Radius</a></li>
                </ul>
            </li>
            <li><a href="#" icon="home" class="amb-nav-link">About</a></li>
            <li><a href="#" icon="support" class="amb-nav-link">Support</a></li>
            <li><a href="#" icon="groups" class="amb-nav-link">Contribute</a></li>
        </ul>
    </nav>
</body>

</html>