<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amboo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Sharp|Material+Icons+Round|Material+Icons+Two+Tone"> -->
    <link rel="stylesheet" href="../icons/material-icons.css">
    <link rel="stylesheet" href="../css/amboo.css">
</head>

<body>
    <nav class="amb-app-drawer">
        <div class="amb-app-drawer-head">

        </div>
        <ul class="amb-app-drawer-list">
            <li class="amb-app-drawer-item"><a href="../" icon="home" class="amb-nav-link">Home</a></li>
            <li class="amb-app-drawer-item"><a href="#" icon="integration_instructions"
                    class="amb-nav-link">Installation</a></li>
            <li class="amb-app-drawer-item">
                <a href="#" icon="apps" class="amb-nav-link">Components</a>
                <ul class="amb-app-drawer-list">
                    <li><a href="../components/appbar.html" class="amb-nav-link">AppBar</a></li>
                    <li><a href="../components/appdrawer.html" class="amb-nav-link">App Drawer</a></li>
                    <li><a href="../components/buttons.html" class="amb-nav-link">Buttons</a></li>
                    <li><a href="../components/avatars.html" class="amb-nav-link">Avatars</a></li>
                    <li><a href="../components/cards.html" class="amb-nav-link">Cards</a></li>
                    <li><a href="../components/list.html" class="amb-nav-link">List</a></li>
                    <li><a href="../components/fab.html" class="amb-nav-link">FAB</a></li>
                </ul>
            </li>
            <li class="amb-app-drawer-item">
                <a href="#" icon="insights" class="amb-nav-link">Properties</a>
                <ul class="amb-app-drawer-list">
                    <li class="amb-app-drawer-item"><a href="../properties/radius.html" class="amb-nav-link">Radius</a>
                    </li>
                </ul>
            </li>
            <li class="amb-app-drawer-item"><a href="#" icon="home" class="amb-nav-link">About</a></li>
            <li class="amb-app-drawer-item"><a href="#" icon="support" class="amb-nav-link">Support</a></li>
            <li class="amb-app-drawer-item"><a href="#" icon="groups" class="amb-nav-link">Contribute</a></li>
        </ul>
    </nav>
</body>

</html>