<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amboo</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="../css/amboo.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="app-drawer">
      <div class="app-drawer-head"></div>
      <ul class="app-drawer-list">
        <li class="app-drawer-item">
          <a href="../" icon="home" class="nav-link">Home</a>
        </li>
        <li class="app-drawer-item">
          <a href="#" icon="integration_instructions" class="nav-link"
            >Installation</a
          >
        </li>
        <li class="app-drawer-item">
          <a href="#" icon="apps" class="nav-link">Components</a>
          <ul class="app-drawer-list">
            <li>
              <a href="../components/appbar.html" class="nav-link">AppBar</a>
            </li>
            <li>
              <a href="../components/appdrawer.html" class="nav-link"
                >App Drawer</a
              >
            </li>
            <li>
              <a href="../components/buttons.html" class="nav-link">Buttons</a>
            </li>
            <li>
              <a href="../components/avatars.html" class="nav-link">Avatars</a>
            </li>
            <li>
              <a href="../components/cards.html" class="nav-link">Cards</a>
            </li>
            <li>
              <a href="../components/list.html" class="nav-link">List</a>
            </li>
            <li>
              <a href="../components/fab.html" class="nav-link">FAB</a>
            </li>
          </ul>
        </li>
        <li class="app-drawer-item">
          <a href="#" icon="insights" class="nav-link">Properties</a>
          <ul class="app-drawer-list">
            <li class="app-drawer-item">
              <a href="../properties/radius.html" class="nav-link">Radius</a>
            </li>
          </ul>
        </li>
        <li class="app-drawer-item">
          <a href="#" icon="home" class="nav-link">About</a>
        </li>
        <li class="app-drawer-item">
          <a href="#" icon="support" class="nav-link">Support</a>
        </li>
        <li class="app-drawer-item">
          <a href="#" icon="groups" class="nav-link">Contribute</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
