<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amboo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Sharp|Material+Icons+Round|Material+Icons+Two+Tone"> -->
    <link rel="stylesheet" href="../icons/material-icons.css">
    <link rel="stylesheet" href="../css/amboo.css">
</head>

<body>

    <h2>Avatars</h2>
    <h3>Avatar Sizes</h3>
    <div class="amb-card">
        <p>auto based on your image size</p>
        <img class="amb-avatar" src="https://picsum.photos/100">
        <p>Small</p>
        <img src="https://picsum.photos/50" alt="Picsum 100" class="amb-avatar sm">
        <p>Medium</p>
        <img src="https://picsum.photos/80" alt="Picsum 100" class="amb-avatar md">
        <p>Large</p>
        <img src="https://picsum.photos/150" alt="Picsum 100" class="amb-avatar lg">
        <p>Profile</p>
        <img src="https://picsum.photos/150" alt="Picsum 100" class="amb-avatar profile">
    </div>

</body>

</html>