<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amboo</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="../css/amboo.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <h2 class="h2">Avatars</h2>
    <p>avatar class use with img</p>
    <h3 class="h3">Avatar Sizes</h3>
    <div class="card">
      <p>auto based on your image size</p>
      <img class="avatar" src="../momin raza.jpg" />
      <p>Small</p>
      <img src="../momin raza.jpg" alt="Picsum 100" class="avatar sm" />
      <p>Medium</p>
      <img src="../momin raza.jpg" alt="Picsum 100" class="avatar md" />
      <p>Large</p>
      <img src="../momin raza.jpg" alt="Picsum 100" class="avatar lg" />
      <p>Profile</p>
      <img src="../momin raza.jpg" alt="Picsum 100" class="avatar profile" />
      <h4 class="h4">classes</h4>
      <p>
        class="avatar"<br />
        class="avatar sm"<br />
        class="avatar md"<br />
        class="avatar lg"<br />
        class="avatar profile"
      </p>
    </div>
  </body>
</html>
