<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amboo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Sharp|Material+Icons+Round|Material+Icons+Two+Tone"> -->
    <link rel="stylesheet" href="../icons/material-icons.css">
    <link rel="stylesheet" href="../css/amboo.css">
</head>

<body>
    <h2>Buttons</h2>
    <div class="amb-card">
        <button class="amb-btn exsm">Extra Small</button>
        <button class="amb-btn sm">Small</button>
        <button class="amb-btn">Default Medium</button>
        <button class="amb-btn lg">Large</button>
        <button class="amb-btn exlg">Extra Large</button>
    </div>
    <h3>Button Sizes</h3>
    <div class="amb-card">
        <button class="amb-btn exsm">Extra Small</button>
        <button class="amb-btn sm">Small</button>
        <button class="amb-btn">Default Medium</button>
        <button class="amb-btn lg">Large</button>
        <button class="amb-btn exlg">Extra Large</button>
    </div>
    <h3>Button Colors</h3>
    <div class="amb-card">
        <button class="amb-btn">Default</button>
        <button class="amb-btn primary">Primary</button>
        <button class="amb-btn secondary">Secondary</button>
        <button class="amb-btn success">Success</button>
        <button class="amb-btn danger">Danger</button>
        <button class="amb-btn warning">Warning</button>
        <button class="amb-btn info">Info</button>
    </div>
    <h3>Button With Icon</h3>
    <div class="amb-card">
        <button class="amb-btn l-icon">
            <i class="material-icons">add</i>
            <span>Left Icon</span>
        </button>
        <button class="amb-btn r-icon">
            <span>Right Icon</span>
            <i class="material-icons">add</i>
        </button>
        <p>Only Icon</p>
        <button class="amb-btn o-icon">
            <i class="material-icons">add</i>
        </button>
    </div>
</body>

</html>