<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amboo</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Sharp|Material+Icons+Round|Material+Icons+Two+Tone"> -->
    <link rel="stylesheet" href="../icons/material-icons.css" />
    <link rel="stylesheet" href="../css/amboo.css" />
  </head>

  <body>
    <h2>Buttons</h2>
    <p>amb-btn classes can be use on a, button and input[submit]</p>
    <div class="amb-card">
      <button class="amb-btn">Contained</button>
      <button class="amb-btn amb-btn-o">Outlined</button>
      <button class="amb-btn amb-btn-t">Text</button>
      <h4>classes</h4>
      <p>
        class="amb-btn"<br />
        class="amb-btn amb-btn-o"<br />
        class="amb-btn amb-btn-t"
      </p>
    </div>
    <h2>Contained Button Properties</h2>
    <h3>Button Sizes</h3>
    <div class="amb-card">
      <button class="amb-btn exsm">Extra Small</button>
      <button class="amb-btn sm">Small</button>
      <button class="amb-btn">Default Medium</button>
      <button class="amb-btn lg">Large</button>
      <button class="amb-btn exlg">Extra Large</button>
      <h4>classes</h4>
      <p>
        class="amb-btn exsm"<br />
        class="amb-btn sm"<br />
        class="amb-btn"<br />
        class="amb-btn lg"<br />
        class="amb-btn exlg"
      </p>
    </div>
    <h3>Button Colors</h3>
    <div class="amb-card">
      <button class="amb-btn">Default</button>
      <button class="amb-btn primary">Primary</button>
      <button class="amb-btn secondary">Secondary</button>
      <button class="amb-btn success">Success</button>
      <button class="amb-btn danger">Danger</button>
      <button class="amb-btn warning">Warning</button>
      <button class="amb-btn info">Info</button>
      <h4>classes</h4>
      <p>
        class="amb-btn"<br />
        class="amb-btn primary"<br />
        class="amb-btn secondary"<br />
        class="amb-btn success"<br />
        class="amb-btn danger"<br />
        class="amb-btn warning"<br />
        class="amb-btn info"
      </p>
    </div>
    <h3>Button With Icon</h3>
    <div class="amb-card">
      <button class="amb-btn l-icon">
        <i class="material-icons">add</i>
        <span>Left Icon</span>
      </button>
      <button class="amb-btn r-icon">
        <span>Right Icon</span>
        <i class="material-icons">add</i>
      </button>
      <p>Only Icon</p>
      <button class="amb-btn o-icon">
        <i class="material-icons">add</i>
      </button>
      <h4>classes</h4>
      <p>
        class="amb-btn l-icon"<br />
        class="amb-btn r-icon"<br />
        class="amb-btn o-icon"
      </p>
    </div>
    <h2>Outlined Button Properties</h2>
    <h3>Button Sizes</h3>
    <div class="amb-card">
      <button class="amb-btn amb-btn-o exsm">Extra Small</button>
      <button class="amb-btn amb-btn-o sm">Small</button>
      <button class="amb-btn amb-btn-o">Default Medium</button>
      <button class="amb-btn amb-btn-o lg">Large</button>
      <button class="amb-btn amb-btn-o exlg">Extra Large</button>
      <h4>classes</h4>
      <p>
        class="amb-btn amb-btn-o exsm"<br />
        class="amb-btn amb-btn-o sm"<br />
        class="amb-btn amb-btn-o"<br />
        class="amb-btn amb-btn-o lg"<br />
        class="amb-btn amb-btn-o exlg"
      </p>
    </div>
    <h3>Button Colors</h3>
    <div class="amb-card">
      <button class="amb-btn amb-btn-o">Default</button>
      <button class="amb-btn amb-btn-o primary">Primary</button>
      <button class="amb-btn amb-btn-o secondary">Secondary</button>
      <button class="amb-btn amb-btn-o success">Success</button>
      <button class="amb-btn amb-btn-o danger">Danger</button>
      <button class="amb-btn amb-btn-o warning">Warning</button>
      <button class="amb-btn amb-btn-o info">Info</button>
      <h4>classes</h4>
      <p>
        class="amb-btn amb-btn-o"<br />
        class="amb-btn amb-btn-o primary"<br />
        class="amb-btn amb-btn-o secondary"<br />
        class="amb-btn amb-btn-o success"<br />
        class="amb-btn amb-btn-o danger"<br />
        class="amb-btn amb-btn-o warning"<br />
        class="amb-btn amb-btn-o info"
      </p>
    </div>
    <h3>Button With Icon</h3>
    <div class="amb-card">
      <button class="amb-btn amb-btn-o l-icon">
        <i class="material-icons">add</i>
        <span>Left Icon</span>
      </button>
      <button class="amb-btn amb-btn-o r-icon">
        <span>Right Icon</span>
        <i class="material-icons">add</i>
      </button>
      <p>Only Icon</p>
      <button class="amb-btn amb-btn-o o-icon">
        <i class="material-icons">add</i>
      </button>
      <h4>classes</h4>
      <p>
        class="amb-btn amb-btn-o l-icon"<br />
        class="amb-btn amb-btn-o r-icon"<br />
        class="amb-btn amb-btn-o o-icon"
      </p>
    </div>
    <h2>Text Button Properties</h2>
    <h3>Button Sizes</h3>
    <div class="amb-card">
      <button class="amb-btn amb-btn-t exsm">Extra Small</button>
      <button class="amb-btn amb-btn-t sm">Small</button>
      <button class="amb-btn amb-btn-t">Default Medium</button>
      <button class="amb-btn amb-btn-t lg">Large</button>
      <button class="amb-btn amb-btn-t exlg">Extra Large</button>
      <h4>classes</h4>
      <p>
        class="amb-btn amb-btn-t exsm"<br />
        class="amb-btn amb-btn-t sm"<br />
        class="amb-btn amb-btn-t"<br />
        class="amb-btn amb-btn-t lg"<br />
        class="amb-btn amb-btn-t exlg"
      </p>
    </div>
    <h3>Button Colors</h3>
    <div class="amb-card">
      <button class="amb-btn amb-btn-t">Default</button>
      <button class="amb-btn amb-btn-t primary">Primary</button>
      <button class="amb-btn amb-btn-t secondary">Secondary</button>
      <button class="amb-btn amb-btn-t success">Success</button>
      <button class="amb-btn amb-btn-t danger">Danger</button>
      <button class="amb-btn amb-btn-t warning">Warning</button>
      <button class="amb-btn amb-btn-t info">Info</button>
      <h4>classes</h4>
      <p>
        class="amb-btn amb-btn-t"<br />
        class="amb-btn amb-btn-t primary"<br />
        class="amb-btn amb-btn-t secondary"<br />
        class="amb-btn amb-btn-t success"<br />
        class="amb-btn amb-btn-t danger"<br />
        class="amb-btn amb-btn-t warning"<br />
        class="amb-btn amb-btn-t info"
      </p>
    </div>
    <h3>Button With Icon</h3>
    <div class="amb-card">
      <button class="amb-btn amb-btn-t l-icon">
        <i class="material-icons">add</i>
        <span>Left Icon</span>
      </button>
      <button class="amb-btn amb-btn-t r-icon">
        <span>Right Icon</span>
        <i class="material-icons">add</i>
      </button>
      <p>Only Icon</p>
      <button class="amb-btn amb-btn-t o-icon">
        <i class="material-icons">add</i>
      </button>
      <h4>classes</h4>
      <p>
        class="amb-btn amb-btn-t l-icon"<br />
        class="amb-btn amb-btn-t r-icon"<br />
        class="amb-btn amb-btn-t o-icon"
      </p>
    </div>
  </body>
</html>
