<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards - Amboo</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="../css/amboo.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <h2 class="h2">Cards</h2>
    <div class="main">
      <div class="card">
        <div class="card-header">
          <div class="leading">
            <img src="../momin raza.jpg" alt="Picsum 100" class="avatar md" />
          </div>
          <div class="ts-wraper">
            <p class="title">This is Card Title</p>
            <p class="subtitle">This is Card Subtitle</p>
          </div>
          <div class="trailing">
            <button class="btn sm primary">Add</button>
          </div>
        </div>
        <div class="card-body">
          <p class="card-containt">
            Lorem ipsum dolor sit, ambet consectetur adipisicing elit. Est,
            ambet totamb corporis impedit ipsa provident illum officiis harum!
            Repellat, inventore!
          </p>
          <img src="../momin raza.jpg" class="card-image" />
        </div>
        <div class="card-footer float-right">
          <button class="btn primary">Primary Button</button>
          <button class="btn secondary">Secondary Button</button>
        </div>
      </div>
      <div class="grid grid-2">
        <div class="card grid-item">
          <div class="card-header">
            <div class="leading">
              <img class="avatar md" src="../momin raza.jpg" />
            </div>
            <div class="ts-wraper">
              <div class="title">Momin Raza</div>
              <div class="subtitle">I'm a web, app and game developer.</div>
            </div>
            <div class="trailing">
              <i class="material-icons">favorite_outline</i>
              <i class="material-icons">more_vert</i>
            </div>
          </div>
          <div class="card-body">
            <div class="card-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              iste repudiandae quasi quas esse deleniti totam quaerat fuga atque
              commodi aut sint placeat aliquid magnam, dicta enim aliquam eum
              neque ea ducimus! Inventore molestias laudantium, eum aliquam
              eveniet hic voluptates vero fugiat adipisci illo? Necessitatibus
              molestias repudiandae aliquid adipisci totam!
            </div>
            <img src="../momin raza.jpg" alt="Momin Raza" class="card-image" />
          </div>
          <div class="card-footer">
            <a href="#" class="btn primary">Follow</a>
            <a href="#" class="btn btn-o primary">Learn More</a>
            <a href="#" class="btn btn-t primary">*Terms</a>
          </div>
        </div>
        <div class="card grid-item">
          <div class="card-footer grid grid-3">
            <div class="grid-item center">
              <a href="#" class="btn btn-t primary l-icon">
                <i class="material-icons">thumb_up</i>Like
              </a>
            </div>
            <div class="grid-item center">
              <a href="#" class="btn btn-t primary l-icon">
                <i class="material-icons">comment</i>Comment
              </a>
            </div>
            <div class="grid-item center">
              <a href="#" class="btn btn-t primary l-icon">
                <i class="material-icons">share</i>Share
              </a>
            </div>
          </div>
        </div>
        <div class="card grid-item"></div>
        <div class="card grid-item"></div>
        <div class="card grid-item"></div>
      </div>
    </div>
  </body>
</html>
