<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amboo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Sharp|Material+Icons+Round|Material+Icons+Two+Tone"> -->
    <link rel="stylesheet" href="../icons/material-icons.css">
    <link rel="stylesheet" href="../css/amboo.css">
</head>

<body>
    <h2>Cards</h2>
    <div class="amb-card">
        <div class="amb-card-header">
            <div class="amb-leading">
                <img src="https://picsum.photos/80" alt="Picsum 100" class="amb-avatar md">
            </div>
            <div class="amb-ts-wraper">
                <p class="amb-title">This is Card Title</p>
                <p class="amb-subtitle">This is Card Subtitle</p>
            </div>
            <div class="amb-trailing">
                <button class="amb-btn sm primary">Add</button>
            </div>
        </div>
        <div class="amb-card-body">
            <p class="amb-card-containt">Lorem ipsum dolor sit, ambet consectetur adipisicing elit. Est, ambet totamb
                corporis impedit ipsa provident illum officiis harum! Repellat, inventore!</p>
            <img src="https://picsum.photos/600/300" class="amb-card-image">
        </div>
        <div class="amb-card-footer amb-float-right">
            <button class="amb-btn primary">Primary Button</button>
            <button class="amb-btn secondary">Secondary Button</button>
        </div>
    </div>


</body>

</html>