<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAB - Amboo</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="../css/amboo.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <h2 class="amb-h2">Floating Action Buttons</h2>
    <p>amb-fab class can be use with a, button</p>
    <a href="#" class="amb-fab">FAB</a>
    <a href="#" class="amb-fab o-icon fab1"
      ><i class="material-icons">edit</i></a
    >
    <a href="#" class="amb-fab sm fab2">Small FAB</a>
    <a href="#" class="amb-fab l-icon fab3"
      ><i class="material-icons">add</i>Left Icon FAB</a
    >
    <a href="#" class="amb-fab r-icon fab4"
      >Right Icon FAB<i class="material-icons">add</i></a
    >
    <a href="#" class="amb-fab sm o-icon fab5"
      ><i class="material-icons">edit</i></a
    >
    <a href="#" class="amb-fab sm r-icon fab6"
      >Small Right Icon FAB<i class="material-icons">add</i></a
    >
    <div class="amb-card">
      <h4 class="amb-h4">classes</h4>
      <p>
        class="amb-fab"<br />
        class="amb-fab o-icon fab1"<br />
        class="amb-fab sm fab2"<br />
        class="amb-fab l-icon fab3"<br />
        class="amb-fab r-icon fab4"<br />
        class="amb-fab sm o-icon fab5"<br />
        class="amb-fab sm r-icon fab6"
      </p>
    </div>
    <div class="amb-card">
      <h3 class="amb-h3">Sizes</h3>
      <p>amb-fab has two size: Default, Small</p>
      <p>
        class="amb-fab"<br />
        class="amb-fab sm"
      </p>
    </div>
    <div class="amb-card">
      <h3 class="amb-h3">Icon Position</h3>
      <p>amb-fab has three icon positions: Left, Right and Only Icon</p>
      <p>
        class="amb-fab l-icon"<br />
        class="amb-fab r-icon"<br />
        class="amb-fab o-icon"
      </p>
    </div>
    <div class="amb-card">
      <h3 class="amb-h3">FAB Position</h3>
      <p>
        amb-fab has three fab positions: TopLeft, TopRight, BottomLeft and
        BottomRight(Default)
      </p>
      <p>
        class="amb-fab tl-fab"<br />
        class="amb-fab tr-fab"<br />
        class="amb-fab bl-fab"<br />
        class="amb-fab"
      </p>
    </div>
    <div class="amb-card">
      <h3 class="amb-h3">FAB Level</h3>
      <p>amb-fab has 7 fab levels: Default, Level 1, Level 2,...Level 6</p>
      <p>
        class="amb-fab"<br />
        class="amb-fab fab1"<br />
        class="amb-fab fab2"<br />
        class="amb-fab fab3"<br />
        class="amb-fab fab4"<br />
        class="amb-fab fab5"<br />
        class="amb-fab fab6"
      </p>
    </div>
  </body>
</html>
