<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAB - Amboo</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="../css/amboo.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <h2 class="h2">Floating Action Buttons</h2>
    <p>fab class can be use with a, button</p>
    <a href="#" class="fab">FAB</a>
    <a href="#" class="fab o-icon fab1"><i class="material-icons">edit</i></a>
    <a href="#" class="fab sm fab2">Small FAB</a>
    <a href="#" class="fab l-icon fab3"
      ><i class="material-icons">add</i>Left Icon FAB</a
    >
    <a href="#" class="fab r-icon fab4"
      >Right Icon FAB<i class="material-icons">add</i></a
    >
    <a href="#" class="fab sm o-icon fab5"
      ><i class="material-icons">edit</i></a
    >
    <a href="#" class="fab sm r-icon fab6"
      >Small Right Icon FAB<i class="material-icons">add</i></a
    >
    <div class="card">
      <h4 class="h4">classes</h4>
      <p>
        class="fab"<br />
        class="fab o-icon fab1"<br />
        class="fab sm fab2"<br />
        class="fab l-icon fab3"<br />
        class="fab r-icon fab4"<br />
        class="fab sm o-icon fab5"<br />
        class="fab sm r-icon fab6"
      </p>
    </div>
    <div class="card">
      <h3 class="h3">Sizes</h3>
      <p>fab has two size: Default, Small</p>
      <p>
        class="fab"<br />
        class="fab sm"
      </p>
    </div>
    <div class="card">
      <h3 class="h3">Icon Position</h3>
      <p>fab has three icon positions: Left, Right and Only Icon</p>
      <p>
        class="fab l-icon"<br />
        class="fab r-icon"<br />
        class="fab o-icon"
      </p>
    </div>
    <div class="card">
      <h3 class="h3">FAB Position</h3>
      <p>
        fab has three fab positions: TopLeft, TopRight, BottomLeft and
        BottomRight(Default)
      </p>
      <p>
        class="fab tl-fab"<br />
        class="fab tr-fab"<br />
        class="fab bl-fab"<br />
        class="fab"
      </p>
    </div>
    <div class="card">
      <h3 class="h3">FAB Level</h3>
      <p>fab has 7 fab levels: Default, Level 1, Level 2,...Level 6</p>
      <p>
        class="fab"<br />
        class="fab fab1"<br />
        class="fab fab2"<br />
        class="fab fab3"<br />
        class="fab fab4"<br />
        class="fab fab5"<br />
        class="fab fab6"
      </p>
    </div>
  </body>
</html>
