<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List - Amboo</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="../css/amboo.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <h2 class="h2">List</h2>
    <div class="list">
      <div class="list-item">
        <div class="leading">
          <img src="../momin raza.jpg" class="avatar md" />
        </div>
        <div class="ts-wraper">
          <p class="title">List With All Components</p>
          <p class="subtitle">This is List Item Subtitle</p>
        </div>
        <div class="trailing">
          <button class="btn sm primary">Add</button>
          <button class="btn sm danger">Remove</button>
        </div>
      </div>
      <div class="list-item">
        <div class="ts-wraper">
          <p class="title">List with Out Leading and Trailing</p>
          <p class="subtitle">This is List Item Subtitle</p>
        </div>
      </div>
      <div class="list-item">
        <div class="leading">
          <img src="../momin raza.jpg" class="avatar md" />
        </div>
        <div class="ts-wraper">
          <p class="title">List without subtitle</p>
          <p class="subtitle"></p>
        </div>
        <div class="trailing">
          <button class="btn sm primary">Add</button>
        </div>
      </div>
      <div class="list-item">
        <div class="leading">
          <img src="../momin raza.jpg" class="avatar sm" />
        </div>
        <div class="ts-wraper">
          <p class="title">List With Small Avatar</p>
        </div>
      </div>
    </div>
  </body>
</html>
