/* app drawer */
.app-drawer {
  display: none;
  position: fixed;
  top: 56px;
  left: 0;
  width: 256px;
  height: calc(100vh - 56px);
  overflow: hidden;
  overflow-y: auto;
  background: white;

  &-list {
    list-style: none;
    padding: 0;
  }
  &-sub-list {
    list-style: none;
    padding: 0;
    margin-left: 24px;
  }
}
.nav-link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 16px;
  font-size: 16px;

  i {
    margin-right: 20px;
    vertical-align: middle;
  }
}

.menu-active {
  .app-drawer {
    display: block;
  }
}

@media (min-width: $bp-sm-laptop) {
  .app-drawer {
    display: block;
  }
  .menu-active {
    .app-drawer {
      display: none;
    }
  }
}
