// avatar
$avatars: (
  sm: 40,
  md: 52,
  lg: 70,
  profile: 160,
);

.avatar {
  border-radius: 50%;

  @each $name, $size in $avatars {
    &.#{$name} {
      @include box($size * 1px);
    }
  }
}
