/* buttons */
.btn {
  background-color: gray;
  border: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;

  &.icon-l {
    padding-left: 8px;
    .material-icons {
      margin-right: 6px;
    }
  }
  &.icon-r {
    padding-right: 8px;
    .material-icons {
      margin-left: 6px;
    }
  }
  &.icon-o {
    padding: 8px 9px;
  }
  &.xsm {
    font-size: 12px;
    padding: 3px 6px;

    &.icon-l {
      padding-left: 3px;
      .material-icons {
        margin-right: 2px;
      }
    }
    &.icon-r {
      padding-right: 3px;
      .material-icons {
        margin-left: 2px;
      }
    }
    &.icon-o {
      padding: 2px;
    }
  }
  &.sm {
    font-size: 14px;
    padding: 5px 8px;

    &.icon-l {
      padding-left: 5px;
      .material-icons {
        margin-right: 4px;
        margin-top: -2px;
      }
    }
    &.icon-r {
      padding-right: 5px;
      .material-icons {
        margin-left: 4px;
        margin-top: -2px;
      }
    }
    &.icon-o {
      padding: 5px 6px;
    }
  }
  &.lg {
    font-size: 20px;
    padding: 12px 18px;

    &.icon-l {
      padding-left: 12px;
      .material-icons {
        margin-right: 8px;
      }
    }
    &.icon-r {
      padding-right: 12px;
      .material-icons {
        margin-left: 8px;
      }
    }
    &.icon-o {
      padding: 12px 13px;
    }
  }
  &.xlg {
    font-size: 24px;
    padding: 15px 22px;

    &.icon-l {
      padding-left: 15px;
      .material-icons {
        margin-right: 12px;
        margin-top: -1px;
      }
    }
    &.icon-r {
      padding-right: 15px;
      .material-icons {
        margin-left: 12px;
        margin-top: -1px;
      }
    }
    &.icon-o {
      padding: 15px 16px;
    }
  }

  &.primary {
    @include set-bc($primary);
  }
  &.secondary {
    @include set-bc($secondary);
  }
  &.success {
    @include set-bc($success);
  }
  &.danger {
    @include set-bc($danger);
  }
  &.warning {
    @include set-bc($warning);
  }
  &.info {
    @include set-bc($info);
  }
  &.white {
    @include set-bc($white);
  }
  &.black {
    @include set-bc($black);
  }

  &.btn-o {
    border: 1px solid gray;
    color: gray;
    background-color: transparent;
    padding: 7px 11px;

    &.icon-l {
      padding-left: 7px;
    }
    &.icon-r {
      padding-right: 7px;
    }
    &.icon-o {
      padding: 7px 8px;
    }
    &.xsm {
      padding: 2px 5px;

      &.icon-l {
        padding-left: 2px;
      }
      &.icon-r {
        padding-right: 2px;
      }
      &.icon-o {
        padding: 1px;
      }
    }
    &.sm {
      padding: 4px 7px;

      &.icon-l {
        padding-left: 4px;
      }
      &.icon-r {
        padding-right: 4px;
      }
      &.icon-o {
        padding: 4px 5px;
      }
    }
    &.lg {
      padding: 11px 17px;

      &.icon-l {
        padding-left: 11px;
      }
      &.icon-r {
        padding-right: 11px;
      }
      &.icon-o {
        padding: 11px 12px;
      }
    }
    &.xlg {
      padding: 14px 21px;

      &.icon-l {
        padding-left: 14px;
      }
      &.icon-r {
        padding-right: 14px;
      }
      &.icon-o {
        padding: 14px 15px;
      }
    }

    &.primary {
      @include set-oc($primary);
    }
    &.secondary {
      @include set-oc($secondary);
    }
    &.success {
      @include set-oc($success);
    }
    &.danger {
      @include set-oc($danger);
    }
    &.warning {
      @include set-oc($warning);
    }
    &.info {
      @include set-oc($info);
    }
    &.white {
      @include set-oc($white);
    }
    &.black {
      @include set-oc($black);
    }
  }

  &.btn-t {
    background-color: transparent;
    color: gray;

    &.primary {
      color: $primary;
    }
    &.secondary {
      color: $secondary;
    }
    &.success {
      color: $success;
    }
    &.danger {
      color: $danger;
    }
    &.warning {
      color: $warning;
    }
    &.info {
      color: $info;
    }
    &.white {
      color: $white;
    }
    &.black {
      color: $black;
    }
  }
}
