// buttons
@mixin icon-lro(
  $padding,
  $margin: 0,
  $margin-m: 0,
  $padding-oh: $padding,
  $padding-ov: $padding-oh + 1
) {
  &.icon-l {
    padding-left: $padding * 1px;
    @if $margin != 0 {
      .material-icons {
        margin-right: $margin * 1px;
        margin-top: $margin-m * -1px;
      }
    }
  }
  &.icon-r {
    padding-right: $padding * 1px;
    @if $margin != 0 {
      .material-icons {
        margin-left: $margin * 1px;
        margin-top: $margin-m * -1px;
      }
    }
  }
  &.icon-o {
    padding: $padding-oh * 1px $padding-ov * 1px;
  }
}

.btn {
  background-color: gray;
  border: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;

  @include icon-lro(8, 6);
  &.xsm {
    font-size: 12px;
    padding: 3px 6px;

    @include icon-lro(3, 2, 0, 2, 2);
  }
  &.sm {
    font-size: 14px;
    padding: 5px 8px;

    @include icon-lro(5, 4, 2);
  }
  &.lg {
    font-size: 20px;
    padding: 12px 18px;

    @include icon-lro(12, 8);
  }
  &.xlg {
    font-size: 24px;
    padding: 15px 22px;

    @include icon-lro(15, 12, 1);
  }
  @each $name, $color in $colors {
    &.#{$name} {
      @include set-bc($color);
    }
  }

  &.btn-o {
    border: 1px solid gray;
    color: gray;
    background-color: transparent;
    padding: 7px 11px;

    @include icon-lro(7);
    &.xsm {
      padding: 2px 5px;

      @include icon-lro(2, 0, 0, 1, 1);
    }
    &.sm {
      padding: 4px 7px;

      @include icon-lro(4);
    }
    &.lg {
      padding: 11px 17px;

      @include icon-lro(11);
    }
    &.xlg {
      padding: 14px 21px;

      @include icon-lro(14);
    }

    @each $name, $color in $colors {
      &.#{$name} {
        @include set-oc($color);
      }
    }
  }

  &.btn-t {
    background-color: transparent;
    color: gray;

    @each $name, $color in $colors {
      &.#{$name} {
        color: $color;
      }
    }
  }
}
