/* card */
.card {
  border-radius: 4px;
  @include set-bc($surface);
  padding: 10px;
  min-height: 60px;

  &-header {
    display: flex;
    align-items: center;
  }
  &-body {
    margin: 10px 0;
  }
  &-containt {
    margin: 10px 0;
  }
  &-image {
    width: calc(100% + 20px);
    height: auto;
    margin: 0 -10px;
    aspect-ratio: 16 / 9;
  }
  &-footer {
    margin-top: 10px;
  }
}
/* float */
.float-right {
  display: flex;
  justify-content: flex-end;
}
