// fab
.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  @include set-bc($secondary);
  padding: 12px 20px;
  border-radius: 30px;
  text-decoration: none;
  z-index: $z-index-fab;

  @for $i from 1 through 6 {
    &.fab-l#{$i} {
      bottom: (20 + 50 * $i) * 1px;
      z-index: $z-index-fab - $i;
      padding: 8px;
    }
  }

  &.fab-tl {
    top: 72px;
    bottom: unset;
    left: 16px;
    right: unset;
  }
  &.fab-tr {
    top: 72px;
    bottom: unset;
  }
  &.fab-bl {
    left: 16px;
    right: unset;
  }

  &.icon-l {
    padding-left: 12px;
    padding-top: 14px;

    .material-icons {
      margin-right: 12px;
      margin-top: -2px;
    }
  }
  &.icon-r {
    padding-right: 12px;
    padding-top: 14px;

    .material-icons {
      margin-left: 12px;
      margin-top: -2px;
    }
  }
  &.icon-o {
    padding: 16px;
  }
}
