/* fab */
.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  @include set-bc($secondary);
  padding: 12px 20px;
  border-radius: 30px;
  text-decoration: none;

  /* fab level */
  &.fab-l1 {
    padding: 8px;
    bottom: 70px;
  }
  &.fab-l2 {
    padding: 8px;
    bottom: 120px;
  }
  &.fab-l3 {
    padding: 8px;
    bottom: 170px;
  }
  &.fab-l4 {
    padding: 8px;
    bottom: 220px;
  }
  &.fab-l5 {
    padding: 8px;
    bottom: 270px;
  }
  &.fab-l6 {
    padding: 8px;
    bottom: 320px;
  }

  // fab position
  &.fab-tl {
    top: 72px;
    bottom: unset;
    left: 16px;
    right: unset;
  }
  &.fab-tr {
    top: 72px;
    bottom: unset;
  }
  &.fab-bl {
    left: 16px;
    right: unset;
  }

  // fab icon position
  &.icon-l {
    padding-left: 12px;
    padding-top: 14px;

    .material-icons {
      margin-right: 12px;
      margin-top: -2px;
    }
  }
  &.icon-r {
    padding-right: 12px;
    padding-top: 14px;

    .material-icons {
      margin-left: 12px;
      margin-top: -2px;
    }
  }
  &.icon-o {
    padding: 16px;
  }
}

// .icon-l {
//   padding-left: 8px;

//   .material-icons {
//     margin-right: 10px;
//     vertical-align: middle;
//   }
// }
// .icon-r {
//   padding-right: 8px;

//   .material-icons {
//     margin-left: 10px;
//     vertical-align: middle;
//   }
// }
// .icon-o {
//   border-radius: 50%;
// }
