label {
  display: block;
  margin: 20px 0 10px;
}
input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 1.2em;
  border-radius: 4px;
  &[type="checkbox"] {
    display: inline-block;
    width: 24px;
  }
}
