// form
label {
  display: block;
  margin: 20px 0 10px;
}
input {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 5px 10px;
  font-size: 1.2em;
  border-radius: 4px;

  &[type="checkbox"],
  &[type="radio"] {
    display: inline-block;
    width: 24px;
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
  }
}
