// list item
.list-item {
  display: flex;
  align-items: center;
  @include set-bc($surface);
  margin: 4px 8px;
  padding: 10px;
  border-radius: 4px;
  &:first-of-type {
    border-radius: 16px 16px 4px 4px;
  }
  &:last-of-type {
    border-radius: 4px 4px 16px 16px;
  }
}
