// modal
.modal {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 300px;
  min-height: 200px;
  z-index: $z-index-modal;

  &.modal-active {
    display: block;
  }
  &-close {
    position: absolute;
    top: 4px;
    right: 2px;
  }
}
