// tab
.tab {
  overflow: hidden;
  overflow-x: auto;
  min-height: 24px;

  &-item {
    display: inline;
    padding: 4px;
    margin: 0 8px;
    white-space: nowrap;
    text-decoration: none;

    &.selected {
      border-bottom: 2px solid $white;
    }
    &.white {
      color: $white;
    }
    &.black {
      color: $black;

      &.selected {
        border-bottom: 2px solid $black;
      }
    }
  }
}
